<div class="main-container" id="education">
    <div class="header">
        Education
    </div>
    <div class="content">
        <div class="education">
            <div class="education-item">
                <img src="../../assets/images/asu.jpeg" alt="Ain Shams University">
                <div class="main"> 
                    <h3>Ain Shams University</h3>
                    <h5>Bachelor of Science in Computer Science</h5> 
                    <h5>January 2015 - June 2019</h5>
                </div>
                <div class="details">
                </div>
            </div>

            <div class="education-item">
                <img src="../../assets/images/othman.jpeg" alt="Othman Ibn Affan School">
                <div class="main"> 
                    <h3>Othman Ibn Affan Language School</h3>
                    <h5>Highschool</h5> 
                    <h5>January 2012 - January 2015</h5>
                </div>
                <div class="details">
                </div>
            </div>
            
        </div>
    </div>
</div>
