<div class="footer">
    <div class="footer-item">
        <h4>Copyright &#169; {{CurrentDate | date: 'yyyy'}} <p>Amr Moataz Elnaggar</p> </h4>
    </div>

    <div class="footer-item">
       <a class="arrow" (click)="scrollToPosition('home')"><fa-icon [icon] = "IconAngleUp" size="3x"></fa-icon></a>
    </div>

    <div class="footer-item">
        <a class="brands" href="https://www.linkedin.com/in/amr-moataz-990618112/"><fa-icon [icon] = "IconLinkedIn"></fa-icon></a>
        <a class="brands" href="https://github.com/AmrMoataz"><fa-icon [icon] = "IconGitHub" ></fa-icon></a>
        <a class="brands" href="https://amr-moataz.itch.io/"><fa-icon [icon] = "IconItchIo" ></fa-icon></a>
        <a class="brands" href="https://www.facebook.com/amr.moataz.58"><fa-icon [icon] = "IconFacebook" ></fa-icon></a>
        <!-- <a class="brands" href=""><fa-icon [icon] = "IconGooglePlus" ></fa-icon></a> -->
    </div>
</div>