<div class="main-container primary" id="about">
    <div class="header">
        About Me (2 IN 1)
    </div>
    <div class="content">
       <div style="display: block;">
        <p style="margin-bottom: 10px;"> 
            Creative web developer dedicated to developing and optimizing interactive, user-friendly, and feature-rich websites. Leverage analytical skills and strong attention to detail in order to deliver original and efficient web solutions        </p>
        <p style="margin-bottom: 10px;"> 
            Knowledgeable and detail-oriented Game Programmer accustomed to working in fast-paced and deadline-driven environments. Adept at developing video games, performing various project management tasks, and conducting code reviews.         </p>
    </div>
    </div>
</div>
