<div class="main-container" id="experience">
    <div class="header">
        Experience
    </div>

    <div class="content">
        <div class="timeline">
            <div class="timeline-item">
                <div class="date">
                    <p>December 2020 - Present</p>
                </div>
                <!-- <fa-icon [icon] = 'IconTimeline' size='3x'></fa-icon> -->
                <div class="experience">
                    <div class="in-line">
                        <img src="../../assets/images/freelance.png" alt="job-image">
                        <div>
                            <div class="emp-name">
                                Freelancer
                            </div>
                            <div class="title">
                                Back-End Developer
                            </div>
                            <div class="description"> 
                                <div class="text">
                                    <p>Back-end development is my passion, I thrive to work on different freelancing projects using different back-end tools and frameworks to deliver the best required functionalities.</p>
                                    <p>Projects I work on include (Web Apps, Restfull APIs, Landing pages, and Windows Apps).</p>
                                </div>
                            </div>
                        </div>
                    </div>
                   
              
                </div>
            </div>

            <div  class="timeline-item">
                <div class="date">
                    <p>July 2021 - December 2020</p>
                </div>
                <!-- <fa-icon [icon] = 'IconTimeline' size='3x'></fa-icon> -->
                <div class="experience">
                    <div class="in-line">
                        <img src="../../assets/images/btl.jpg" alt="job-image">
                        <div>
                            <div class="emp-name">
                               Building Technology Labs
                            </div>
                            <div class="title">
                               Full-Stack Developer
                            </div>
                            <div class="description"> 
                                <div class="text">
                                    <p>Building technology labs is an expertized company in robust construction and consultancy </p>
                                    <p>Designed and impelemented software solutions for Revit API additional Addins and other local company required solutions.</p>
                                    <p>Worked on a new and under-development graphics engine adding UI forms and editor to it.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                   
              
                </div>
            </div>
        </div>
    </div>
</div>
