<div class="main-container" id="projects">
    <div class="header">
        Projects
    </div> 

    <div class="content">
        <div class="projects">
            <!-- profolio website -->
            <div class="project-item">
                <img src="../../assets/images/Protfolio.png" alt="">
                <div class="details">
                    <h3>Portfolio Website</h3>
                    <p>My own official website.</p>
                    <p>Fully implemented from scratch using (Angular 9, CSS, Javascript).</p>
                    <p>Used Laravel as a back-end to send email from the website to my email.</p>
                    <p>Will be further improved to be used as a template for others to use and add their own data.</p>
                    <a href="https://github.com/AmrMoataz/Portfolio-Website">View Project</a>
                    <div class="tools">
                        <fa-icon [icon]="IconAngular" size='2x'></fa-icon>
                        <fa-icon [icon]="IconHTML" size='2x'></fa-icon>
                        <fa-icon [icon]="IconCSS" size='2x'></fa-icon>
                        <fa-icon [icon]="IconLaravel" size='2x'></fa-icon>
                    </div>
                </div>
                
            </div>

             <!-- hobby for all -->
             <div class="project-item">
                <div class="img-container">
                    <img src="../../assets/images/hobbyforall.png" alt="">
                </div>
                <div class="details">
                    <h3>Hobby for All</h3>
                    <p>Restull API for an e-commerce mobile application for a Hobby for All company.</p>
                    <!-- <a href="https://github.com/AmrMoataz/Graduation-Project">View Project</a> -->
                    <div class="tools">
                        <fa-icon [icon]="IconLaravel" size='2x'></fa-icon>
                        <fa-icon [icon]="IconHTML" size='2x'></fa-icon>
                        <fa-icon [icon]="IconCSS" size='2x'></fa-icon>
                        <fa-icon [icon]="IconBootstrap" size='2x'></fa-icon>
                    </div>
                </div>
                
            </div>

            <!-- Image Encryption and compression -->
            <div class="project-item">
                <img src="../../assets/images/IEC.png" alt="">
                <div class="details">
                    <h3>Image Encryption and Compression.</h3>
                    <p>An Implementation of image encryption/decryption algorithms and compression.</p>
                    <p>Algorithms used (Linear feedback shift register, Huffman Tree).</p> 
                    <a href="https://github.com/AmrMoataz/Image-Encryption-and-Compression">View Project</a>
                    <div class="tools">
                        <!-- <fa-icon [icon]="IconAngular" size='2x'></fa-icon>
                        <fa-icon [icon]="IconTypescript" size='2x'></fa-icon>
                        <fa-icon [icon]="IconCSS" size='2x'></fa-icon> -->
                    </div>
                </div>
                
            </div>

            <!-- AR FPS Mobile Game -->
            <div class="project-item">
                <img src="../../assets/images/fps.png" alt="">
                <div class="details">
                    <h3>Augmented Reality FPS mobile game.</h3>
                    <p>A first person shooter game on mobile phones with mixed reality.</p>
                    <p>Players us their phone to navigate the real enviroment mixed with the game to find and shooter other players.</p> 
                    <a href="https://github.com/AmrMoataz/Mixed-Reality-FPS-Mobile">View Project</a>
                    <div class="tools">
                        <fa-icon [icon]="IconUnity" size='2x'></fa-icon>
                    </div>
                </div>
                
            </div>

            <!-- The Guardian -->
            <div class="project-item">
                <img src="../../assets/images/guardian.png" alt="">
                <div class="details">
                    <h3>The Guardian</h3>
                    <p>Immersive 2D pixel art platformer game. Fully designed and implemented using unity and assets from assets store.</p>
                    <a href="https://amr-moataz.itch.io/the-guardian">View Project</a>
                    <div class="tools">
                        <fa-icon [icon]="IconUnity" size='2x'></fa-icon>
                    </div>
                </div> 
            </div>

                    <!-- Space Blaster -->
                    <div class="project-item">
                        <img src="../../assets/images/space blaster.png" alt="">
                        <div class="details">
                            <h3>Space Blaster</h3>
                            <p>2D Retro space shooter game with nice visuals and challanging levels.</p>
                            <a href="https://amr-moataz.itch.io/space-blaster">View Project</a>
                            <div class="tools">
                                <fa-icon [icon]="IconUnity" size='2x'></fa-icon>
                            </div>
                        </div>
                        
                    </div>

        </div>
    </div>
</div>
