<div class="main-container" id="skills">
    <div class="header">
        Skills
    </div>
    <div class="content">
        <div class="skills">
            <div class="skill-item">C#</div>
            <div class="skill-item">ASP.Net</div>
            <div class="skill-item">Entity Framework</div>
            <div class="skill-item">LinQ</div>
            <div class="skill-item">ADO.Net</div>
            <div class="skill-item">SQL</div>
            <div class="skill-item">WPF</div>
            <div class="skill-item">MVVM</div>
            <div class="skill-item">XAML</div>
            <div class="skill-item">MVC</div>
            <div class="skill-item">HTML/CSS</div>
            <div class="skill-item">JQuery</div>
            <div class="skill-item">Ajax</div>
            <div class="skill-item">Javascript</div>
            <div class="skill-item">Laravel</div>
            <div class="skill-item">MongoDB</div>
            <div class="skill-item">C++</div>
            <div class="skill-item">OpenGL</div>
            <div class="skill-item">Unity3d</div>
            <div class="skill-item">Blender</div>
            <div class="skill-item">Illustrator</div>
            <div class="skill-item">Inkscape</div>
        </div>
    </div>
</div>
